<main class="container-login">
    <section class="header">
        <h1 class="title">Login</h1>
        <p class="auxiliar-text">Welcome back!</p>
    </section>

    <form [formGroup]="loginForm" (ngSubmit)="beginLogin()" class="form-login">

        <div class="container-flex-center">
            <label for="username">Username</label>
            <input type="text" formControlName="username" name="username">
        </div>

        <div class="container-flex-center">
            <label for="password">Password</label>
            <input type="password" formControlName="password" name="password">
            <a href="" class="auxiliar-text forgot-password-text">Forgot password</a>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <div class="divider">
        <p>OR</p>
    </div>

    <section class="social-login">
        <button class="btn btn-social">
            <img src="assets/google.svg" alt="Google icon" class="social-icon">
            <span>Login with Google</span>
        </button>
        <button class="btn btn-social">
            <img src="assets/facebook.svg" alt="Facebook icon" class="social-icon">
            <span>Login with Facebook</span>
        </button>
    </section>

    <section class="footer">
        <p>Don't have an account? <a routerLink="/register" class="auxiliar-text">Register</a></p>
    </section>

</main>
