.container-login {
    background-color: var(--bg-color);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 0.5rem 2rem;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;

        .title {
            font-size: 3rem;
            font-weight: 700;
        }
        
    }
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;

    input {
        padding: 0.5rem 1rem;
        border: 1px solid var(--grey);
        border-radius: 3px;
    }

    .forgot-password-text {
        font-size: 12px;
        text-align: end;

        &:hover{
            text-decoration: underline;
            color: #333;
            transition: 0.3s ease color; 
        }
    }
}

.social-login {
    display: flex;
    flex-direction: column;
    width: 15rem;
    gap: 2rem;

    .btn-social {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 100%;
        font-size: 1rem;
    
        .social-icon {
            aspect-ratio: 1;
            width: 2rem;
            height: 2rem;
            object-fit: cover;
        }

        &:hover {
            border-color: var(--secondary-color);
            color: var(--secondary-color);
            font-weight: 700;
            transition: 0.3s ease color;
        }
    }
}
